/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .row {
    max-width: 95%;
    margin: 0 auto;
    padding: 1em;
  }

  .hero {
    position: relative;
    margin: -80vh 0 0 0;
    transform: translateY(80vh);
    /*	padding: 50px*/
  }

  .hero__title img {
    height: 250px;
  }

  .social-icons li {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.1rem;
  }
}

/* Small phones to small tablets: from 500px to 767px */
@media only screen and (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .row {
    max-width: 100%;
  }

  /* MOBILE NAVIGATION TO SHOW */
  .mobile-row {
    display: flex;
  }

  .mobile-nav-icon {
    display: block;
    margin-top: 25px;
    margin-right: 25px;
    cursor: pointer;
    width: 25%;
    text-align: right;
  }

  .mobile-nav-icon i {
    font-size: 180%;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 30px;
    margin-top: 20px;
  }

  .logo .logo-white,
  .logo .logo-black {
    width: 150px;
  }

  .main-nav {
    width: 25%;
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 15px;
  }

  .js--main-nav {
    display: none;
    /* background: red; */
    position: absolute;
  }

  .main-nav li {
    display: block;
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 5px 0;
    text-transform: uppercase;
  }

  .logo-center {
    display: none;
  }

  /* SOCIAL MEDIA ICONS */
  .social-icons {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .social-icons .desk-wa {
    display: none;
  }

  .social-icons .mobile-wa {
    display: block;
  }

  .social-icons li {
    display: inline-block;
    margin-right: 25px;
    font-size: 1.5rem;
  }

  .hero {
    perspective: 600px;
    position: relative;
    margin: -80vh 0 0 0;
    transform: translateY(80vh);
    /*	padding: 50px*/
  }

  header {
    background: url("../img/banner-min-min.png") no-repeat center center/cover;
  }

  .hero__title img {
    height: 200px;
  }

  /* setman */
  .setman-text {
    padding: 0px;
  }

  .setman-typer {
    clear: left;
    padding: 0;
    margin: 0;
  }

  p.typo {
    padding: 0;
  }

  .setman-main {
    float: left;
    margin: 0;
    padding-left: 0em;
    line-height: 1.5;
    font-style: normal;
    font-size: 17px;
    width: 100%;
  }

  .fabric {
    display: none;
  }

  .setman-footer {
    font-weight: 400;
    color: blue;
    font-size: 15px;
    text-transform: uppercase;
    justify-content: flex-end;
    display: flex;
    clear: left;
    /* float: right; */
    /* padding-left: 100px; */
  }

  .setman-footer p {
    float: left;
  }

  .headshot > img {
    max-width: 30%;
  }

  .headshot {
    margin: 0;
    /* max-width: 30%; */
    min-width: 20%;
    height: 50%;
    padding-left: 10px;
    padding-top: 0;
    float: left;
  }

  /*	FOOTER */
  .footer-cols {
    grid-template-columns: 2fr;
    font-size: 0.75em;
    letter-spacing: 1px;
    line-height: 1.2;
  }

  .footer-copyright > .row {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }

  .footer-copy {
    display: block;
  }

  .footer-copy-copy {
    /* display: inline-block; */
    max-width: 70%;
    float: left;
  }

  .footer-copy .logo-copy {
    display: none;
  }

  .review {
    max-width: none;
    width: calc(100% - 20px);
  }

  /* main */
  main .direct-text {
    display: block;
    color: #fff;

    padding: 0;
  }

  main .please {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* margin-bottom: 10px; */
    padding-bottom: 0px;
    font-size: 1em;
    white-space: nowrap;
  }

  main .direct-button {
    display: grid;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }

  .direct-button span {
    display: grid;
    letter-spacing: 1px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 50px;
    width: 300px;
    font-size: 1em;
    padding: 20px 0;
    text-transform: uppercase;
    background: #88cc34;
  }
}
/* 767px end */

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 501px) {
  .hero {
    perspective: 600px;
    position: relative;
    /* margin: -80vh 0 0 0; */
    transform: translateY(80vh);
    /*	padding: 50px*/
  }

  /* main start */
  main .dire {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
  }

  .dire span {
    font-weight: 400;
    border: 1px solid;
    font-size: 0.8em;
    padding: 10px 10px;
    text-transform: uppercase;
    background: #88cc34;
  }
  /* main end */

  .hero__title img {
    height: 130px;
  }

  /*	FOOTER */
  .footer-cols {
    grid-template-columns: 2fr;
  }

  .footer-container {
    padding-bottom: 0.2rem;
  }

  .footer-copy {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0px;
  }

  .footer-copy img {
    display: none;
  }
}
