:root {
  --primary-color: #fff;
  --secondary-color: #121912;
  --footer-color: #333333;
  --directions-color: #85bf3b;
  --setman-color: #ffff66;
  --other-color: #aaaaaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  background-color: #fff;
  color: #171616;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

img,
embed,
object,
video {
  max-width: 100%;
  /* display: block; */
}

/* REUSABLE */
.row {
  max-width: 75%;
  margin: 0 auto;
  padding: 1em;
}

/* HEADER */

header {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/banner-min.png") no-repeat center center/cover;

  box-shadow: 0 1px 20px var(--secondary-color);
}

/* NAVIGATION */
.logo-white {
  display: block;
  background: url("/img/homeforall_white-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 200px;
  float: left;
}

.logo-black {
  background: url("/img/homeforall_black-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  height: 40px;
  width: 200px;
  float: left;
}

/* .logo-black {
  display: none;
  height: 1.6em;
  width: auto;
  float: left;
} */

.nav {
  max-width: 100%;
}

.main-nav {
  float: right;
  margin: 0px;
}

.main-nav li {
  display: inline-block;
  margin: 0.5em 2em 0 0;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 15px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 500ms;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #8dc645;
  color: #8dc645;
}

ul {
  list-style: none;
}

/* MOBILE NAVI ICON */
.mobile-row {
  display: none;
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: white;
}

/* MOBILE NAVI ICON END */

/*  NAVI */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(238, 238, 238);
  box-shadow: 0 1px 5px #3f543c;
  transition: background 0.5s;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #000;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}
.sticky .mobile-nav-icon i {
  color: #555;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
  border-bottom: 2px solid #000;
  font-weight: 600;
  color: #000;
  transition-duration: 500ms;
}

.sticky .logo-white {
  display: none;
}

.sticky .logo-black {
  display: block;
}

/* HERO:WE ARE HERE */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  perspective: 600px;
  position: relative;
  margin: 210px;
  /*	padding: 50px*/
}

.hero__title {
  z-index: 20;
  animation-name: floating;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.hero__title img {
  height: 300px;
}

@keyframes floating {
  from {
    transform: translate(0, 0px) rotateY(-12deg);
    /*text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15)*/
  }

  65% {
    transform: translate(0, 0px) rotateY(10deg) rotateX(10deg);
    /*text-shadow: -10px -10px 3px rgba(0, 0, 0, 0.15)*/
  }

  to {
    transform: translate(0, 0px) rotateY(-12deg);
    /*text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15)*/
  }
}

/* SCROLLING MARQUE */
marquee {
  color: var(--primary-color);
  position: absolute;
  bottom: 50px;
}

marquee p {
  font-size: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

marquee p span {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 15px;

}

/* SETMAN */
.setman-container {
  z-index: 0;
  position: relative;
  background: var(--setman-color);
  max-width: 100%;
  margin: auto;
  padding-top: 1em;
  /* padding-left: 4em; */
  padding-bottom: 1em;
  overflow: auto;
}

.tooltip {
  font-style: 10px;
}

.setman-typer {
  clear: left;
  padding-left: 5em;
}

p.typer {
  font-size: 20px;
}

.setman-typer > h3 {
  color: blue;
}

.setman {
  margin: auto;
  max-width: 90%;
  padding: 10px;
  text-align: left;
}

.setman-main {
  font-weight: 300;
  float: left;
  margin: 0;
  padding-left: 7em;
  line-height: 2;
  /* font-style: oblique; */
  width: 60%;
}

#set-id::after {
  content: "";
  display: block;
  clear: both;
}

.fabric {
  z-index: -1;
  position: fixed;
  top: -30px;
  opacity: 0.1;
  background: url("/img/fabric-long-shadow.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 900px;
  height: 100%;
  width: 100%;
}

.setman-text {
  padding: 10px;
}

.headshot > img {
  max-width: 30%;
}

.headshot {
  margin: 0;
  max-width: 40%;
  min-width: 20%;
  padding-top: 40px;
}

/* REVIEWS */
.reviews {
  position: relative;
  font-size: 0;
  padding: 20px;
  background-color: rgb(243, 242, 242);
  text-align: center;
  border: 1px solid rgb(230, 230, 230);
  border-width: 1px 0 1px 0;
}

.review {
  text-align: left;
  color: black;
  padding: 10px;
  display: inline-block;
  width: calc(50% - 20px);
  max-height: 120px;
  overflow: hidden;
  vertical-align: top;
  max-width: 450px;
}

.review .picture {
  width: 100px;
  height: 100px;
  float: left;
  border-radius: 50px;
  border: 1px solid rgb(49, 49, 52);
  margin-right: 10px;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 7px 0px;
}

.review p {
  color: rgb(60, 60, 60);
  margin-top: 0;
  font-size: initial;
}

.review > p {
  font-style: oblique;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.review h3 {
  margin-bottom: 0;
  font-size: initial;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
}

/* DIRECTIONS */
main {
  position: relative;
  background: var(--directions-color);
  text-align: center;
  z-index: 1;
  padding: 20px 0 24px 0;
  /* height: 15vh; */
}

.direct-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

main .please {
  font-weight: 400;
  display: inline-block;
  width: 250px;
  /* text-align: right; */
  /* margin-right: 30px; */
  /* vertical-align: middle; */
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  font-size: 1.2em;
}

main .direct-button {
  display: inline-block;
  width: 250px;
  vertical-align: middle;
  white-space: nowrap;
}

.direct-button span {
  letter-spacing: 1px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 50px;
  font-size: 1.2em;
  padding: 10px 30px;
  text-transform: uppercase;
  background: #88cc34;
}

.direct-button span:hover {
  transition: ease-in 0.5s;
  background: #c3ee4d;
}

.direct span {
  color: #000000;
}

/* FOOTER */
.footer-container {
  position: relative;
  color: #b2b2b2;
  display: block;
  /* z-index: ; */
  background: var(--footer-color);
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  border-bottom: 1px solid #212121;
  box-shadow: 1px 0 20px var(--secondary-color);
}

.footer-copyright {
  position: relative;
  color: #b2b2b2;
  display: block;
  z-index: 3;
  background: var(--footer-color);
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  border-bottom: 1px solid #212121;
  box-shadow: 1px 0 20px var(--secondary-color);
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.footer-cols-head {
  color: rgb(243, 243, 243);
}

.footer-cols li {
  line-height: 1.2rem;
}

.footer-copy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.footer-copy-copy {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.footer-copy .logo-copy {
  display: block;
  /* width: 64px; */
  background: url(/img/homeforall_black-min.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  justify-items: right;
}

.social-icons li {
  display: inline-block;
  margin-right: 25px;
  font-size: 1.5rem;
}

.social-icons li a i {
  color: var(--other-color);
}

.social-icons li a i:hover {
  display: inline-block;
  /* margin-right: 10px; */
  /* font-size: 1.5rem; */
  color: rgb(214, 216, 120);
  transition-delay: 0.3s;
  transition: ease-in-out 0.5s;
}

.social-icons {
  margin: 0 auto;
}

.social-icons .mobile-wa {
  display: none;
}

.footer-cols .social-icons a:link,
.footer-cols .social-icons a:visited {
  text-decoration: none;
  color: #000000;
}

.store a,
.gmap,
.contacto a,
.footer-copy-copy a {
  color: var(--other-color);
}

.store a:hover,
.gmap:hover,
.contacto a:hover,
.footer-copy-copy a:hover {
  color: #b2b2b2;
  font-size: 90%;
  padding: 2px 6px 2px 6px;
  border: 0px solid;
  background: var(--secondary-color);
  transition-duration: 0.5s;
}
